* {
    font-family: Arial, Helvetica, sans-serif;
}

.container-groupTable {
    width: 100%;
    text-align: -webkit-center;
    border-collapse: collapse;
}

table {
    width: 80%;
    background-color: wheat;
    border-collapse: collapse;
}

th {
    color: white;
}

table,
th,
td {
    border: 1px solid #868585;
    text-align: left;
    padding: 10px;
    font-size: 20pt;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(1) {
    background-color: var(--main-color);
}

@media screen and (max-width: 380px) {
    table,
    th,
    td {
        font-size: 14pt;
    }
}